<%= form_with(model: post_preference) do |form| %>
  <% if post_preference.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post_preference.errors.count, "error") %> prohibited this post_preference from being saved:</h2>

      <ul>
        <% post_preference.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date_match, style: "display: block" %>
    <%= form.datetime_field :date_match %>
  </div>

  <div>
    <%= form.label :amount_players, style: "display: block" %>
    <%= form.number_field :amount_players %>
  </div>

  <div>
    <%= form.label :match_length, style: "display: block" %>
    <%= form.time_field :match_length %>
  </div>

  <div>
    <%= form.label :post_zone_code, style: "display: block" %>
    <%= form.text_field :post_zone_code %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
