<div id="<%= dom_id post_preference %>">
  <p>
    <strong>Date match:</strong>
    <%= post_preference.date_match %>
  </p>

  <p>
    <strong>Amount players:</strong>
    <%= post_preference.amount_players %>
  </p>

  <p>
    <strong>Match length:</strong>
    <%= post_preference.match_length %>
  </p>

  <p>
    <strong>Post zone code:</strong>
    <%= post_preference.post_zone_code %>
  </p>

</div>
