<div class="pb-3 row-cols-1 row-cols-md-3 g-4 ">
  <div class="card h-100 bg-light" style="width: 18rem;">
    <%# <img src="..." class="card-img-top" alt="..."> %>
    <div id="<%= dom_id user %>">
      <div class="card-body">
        <p>
          <h3 class="card-title fs-4"><%= user.nickname %></h3>
          <h4 class="card-title fs-5"><%= user.name  %></h4>
          <p class="card-text"><%= user.email %></p>
        </p>
              

        <p>
          <strong>Nacimiento:</strong>
          <%= user.birth %>
        </p>

        <p>
          <strong>Gender:</strong>
          <%= user.gender %>
        </p>

        <p>
          <strong>Role:</strong>
          <%= user.role %>
        </p>

        <p>
          <strong>Phone:</strong>
          <%= user.phone %>
        </p>
      </div>
      
    </div>
    <p>
          <%= link_to "Ver usuario", user %>
    </p>
  </div>
  
</div>

