<div id="<%= dom_id user_preference %>">
  <p>
    <strong>Play zone:</strong>
    <%= user_preference.play_zone %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user_preference.status %>
  </p>

  <p>
    <strong>Notification:</strong>
    <%= user_preference.notification %>
  </p>

  <p>
    <strong>Notify:</strong>
    <%= user_preference.notify %>
  </p>

  <p>
    <strong>Game position:</strong>
    <%= user_preference.game_position %>
  </p>

  <p>
    <strong>Play zone code:</strong>
    <%= user_preference.play_zone_code %>
  </p>

</div>
