<%= form_with(model: communne) do |form| %>
  <% if communne.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(communne.errors.count, "error") %> prohibited this communne from being saved:</h2>

      <ul>
        <% communne.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :communne_name, style: "display: block" %>
    <%= form.text_field :communne_name %>
  </div>

  <div>
    <%= form.label :communne_code, style: "display: block" %>
    <%= form.text_field :communne_code %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
